.nine {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 88vh;
    position: relative;
}
.mobile-nine {
    display: none;
}
.column-image {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    height: inherit;
}
.column-text {
    width: 50%;
    display: flex;
    height: 60vh;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}
.column-text h1 {
    background: #2d1e5c;
    text-transform: uppercase;
    text-align: center;
    color: white;
    width: 100%;
    padding: 10px;
    border-radius: 30px 30px;
}
.logo {
    width: 56%;
}
.download-nine {
    position: absolute;
    right: 5px;
    bottom: 53px;
    background: #fd005a;
    border-radius: 30px 30px;
    padding: 16px;
    border: none;
    width: 694px;
    cursor: pointer;
    font-size: 23px;
    color: white;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
}
.download-nine:hover {
    opacity: 0.8;
}

@media only screen and (max-width: 1023px) {
    .nine {
        display: none;
    }
    .mobile-nine {
        display: block;
        padding-top: 24px;
        position: relative;
        height: 85vh;
    }
    .mobile-nine h1 {
        position: absolute;
        right: -12px;
        top: 275px;
        text-transform: uppercase;
        width: 50%;
        font-size: 24px;
        text-align: center;
        color: #29235c;
    }
    .mobile-nine h1 span{
        color: #bd1622;
    }
    .mobile-nine img {
        margin: 0 auto;
        display: block;
    }
    .download-nine {
        right: 0px;
        bottom: 139px;
        width: 477px;
        background: #bd1622;
        background: -moz-linear-gradient(left, #bd1622 0%, #29235c 100%);
        background: -webkit-linear-gradient(left, #bd1622 0%, #29235c 100%);
        background: linear-gradient(to right, #bd1622 0%, #29235c 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bd1622', endColorstr='#29235c',GradientType=1 );
    }
}
@media only screen and (max-width: 768px) {
    .download-nine {
        bottom: 287px;
        width: 434px;
        right: 142px;
        border-radius: 30px 30px;
    }
    .manoMobile{
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .mobile-nine h1 {
        left: -12px;
    }

}
@media only screen and (max-width: 425px) {
    .download-nine{
        bottom: 51vh;
        width: 100%;
        right: 0;
        font-size: 16px;
        border-radius: 30px 0 0 30px;
    }
    .manoMobile{
        bottom: 0;
        right: 0;
    }
    .mobile-nine h1 {
       right: -12px;
       left: initial;
    }
}
